# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# Vita
*.self
eboot.bin
*.velf
*.sfo
*.vpk

# V3K
v3k/
imgui.ini

# Cmake
/CMakeFiles
Makefile
CMakeCache.txt
*.cmake

#no idea
config.yml

# vscode
.vscode/

# project specific
easyplugin